doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Contratos Newdevs

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.inicio
        h1 Contratos
        .lazy-partners
          img(src="img/newdevs.png")

      section
        h2 Estapas de desarrollo
        .tint
          ul
            li Requerimiento del sistema
            li Requerimiento del software
            li Analisis
            li Diseño
            li Codigo - pruebas
            li operación

      section
        h2 Iteraciones
        .tint
          ul
            li Ciclos de una semana (sprint)

      sections
        h2 Retos
        .tint
          ul
            li Dudas del cliente.
            li Clientes no agiles.
            li Sospechas en el control de tiempo.
            li Ser parte del equipo del cliente.
            li Competencia no agíl.
            li Estimar sobre la experiencia.
            li visibilidad (google docs).
            li ventas y publicidad (riesgo compartido).
            li Gerencia (debe saber como va todo).

      section
        h2 Alcance
        .tint
          ul
            li Es cambiante.
            li Tener claro todo lo que hay que hacer.
            li Como va a ser la comunicación.

      section
        h2 Seguimiento
        .tint
          ul
            li Product backlog - google docs

      section
        h2 Equipo desarrollo
        pre
          code.language-javascript.
            newdevs.equipo({
              @jessecogollo: Desarrollo,
              @user1: Desarrollador,
              @user2: Diseñador,
              @user3: Analista
            });
        h3 Confianza - Comunicación - Transparencia

      section
        h2 Cliente
        .tint
          ul
            li Compromiso.
            li Responsabilidad.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild